/* General Button Styles */
.button {
  font-family: var(--button-font-family);
  border-radius: var(--button-border-radius);
  border: var(--button-border-border);
  cursor: var(--button-cursor);
  display: var(--button-display);
  text-align: var(--button-text-align);
  text-decoration: var(--button-text-decoration);
  white-space: var(--button-white-space);
  transition: var(--button-transition);
}

.button-full {
  width: 100%;
}

/* Button disabled */
.button-disabled {
  background: "#eaeaea";
  color: "#c0c0c0";
  cursor: not-allowed;
}

/* Large Size Button Styles */
.button-large {
  height: var(--button-large-height);
  font-size: var(--button-large-font-size);
  line-height: var(--button-large-line-height);
  padding: var(--button-large-padding);
}

/* Small Size Button Styles */
.button-small {
  height: var(--button-small-height);
  font-size: var(--button-small-font-size);
  line-height: var(--button-small-line-height);
  padding: var(--button-small-padding);
}

/* Woolworths Primary Button Styles */
.button-woolworths-primary {
  background-color: var(--woolworths-primary-default);
  color: var(--button-primary-text-color);
}

.button-woolworths-primary:hover {
  background-color: var(--woolworths-primary-hover);
}

.button-woolworths-primary:focus {
  background-color: var(--woolworths-primary-focus);
  outline: none;
}

.button-woolworths-primary:active {
  background-color: var(--woolworths-primary-active);
}

/* Everyday Rewards Primary Button Styles */
.button-everyday-rewards-primary {
  background-color: var(--everyday-rewards-primary-default);
  color: var(--button-primary-text-color);
}

.button-everyday-rewards-primary:hover {
  background-color: var(--everyday-rewards-primary-hover);
}

.button-everyday-rewards-primary:focus {
  background-color: var(--everyday-rewards-primary-focus);
  outline: none;
}

.button-everyday-rewards-primary:active {
  background-color: var(--everyday-rewards-primary-active);
}

/* Customize Primary Button Styles */
.button-customize {
  background-color: var(--button-customize-brand-active);
  color: var(--button-primary-text-color);
}

.button-customize:hover {
  background-color: var(--button-customize-brand-hover);
}

.button-customize:focus {
  background-color: var(--button-customize-brand-focus);
  outline: none;
}

.button-customize:active {
  background-color: var(--button-customize-brand-active);
}
